* {
    background-color: #408E91;
}

.cloud {
    background-color: white;
}
.circle {
    border-radius: 50%; 
    position: absolute;
}

#cloud1 {
    width: 180.02px;
    height: 210.04px;
    top: 228.47px;
    left: 434.97px;
}

#cloud2 {
    width: 126.42px; 
    height: 168.23px;
    top: 270.28px;
    left: 329px;

}

#cloud3 {
    width: 114.41px;
    height: 132.25px;
    top: 306.26px;
    left: 572.59px;
}

#cloud-rect {
    width: 238.43px;
    height: 84.6px;
    position: absolute;
    top: 354px;
    left: 390px;
}

.sun {
    background-color: #F2BE22;
}

#sunny-sun-center {
    height: 286px;
    width: 286px;
    left: 424px;
    top: 167px;
}


#cloudy-sun {
    height: 188.89px;
    width: 188.89px;
    left: 313px;
    top: 165px;
}








#today-temp {
    font-size: larger;
}